{% extends 'health_assist/health-base.html' %}
{% load static %}


{% load crispy_forms_tags %}

{% block content %}
    <h1>Welcome, to Health Assist!</h1>
    {% for packages in global_packages %}
        <div class="insurance" data-info="{{packages.packages.name}}">
            {{ packages.packages.name}}
        </div>
       <div class="sub-container" id="{{ packages.packages.name }}">
            {% for under_package in company_packages %}
                {% if under_package.packages.name == packages.packages.name %}
                    <div class="insurance">
                        <a href="{% url 'under-package' under_package.pk %}"><p>{{ under_package.name }}</p></a>
                     </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
