{% extends 'health_assist/health-base.html' %}
{% load static %}


{% load crispy_forms_tags %}

{% block content %}
    <h3 class="p-5">Change your credentials</h3>
    <div class="text-form-container">
        <div class="container">
            <form method="post">
                {% csrf_token %}
                <h4 class="p-3">Email update</h4>
                {{user_form}}
                <button type="submit" class="submit-button">Submit</button>
             </form>
        </div>
    </div>
{% endblock %}
