{% extends 'health_assist/health-base.html' %}
{% load static %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block content %}
    <h1>{% trans 'Welcome' %}, {{ user.employee_profile.first_name }} {{ user.employee_profile.last_name }}</h1>
    <p>{% trans 'You want to make some changes to your profile information?' %}</p>
    <div class="text-form-container">
        <div class="container">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="submit-button">{% trans 'Submit' %}</button>
             </form>
        </div>
    </div>
{% endblock %}
