@import "about.css";
@import "./news.css";
@import "./insurances.css";
@import "./partners.css";
@import "./contacts.css";
@import "./form.css";
@import "health-nav.css";
@import "questions.css";

body{
    background-image: url(images/doctor-using-modern-computer.jpg);
}
h1{
    color: #521b0f;
    font-size: 50px;
}
.home{
    padding-top: 8%;
}

.reg-btn{
    border-radius: 2em;
    text-align: center;
    border: solid;
    padding: 10px;
    margin: 20px;
}
h3{
    padding: 0;
}
h4{
    padding: 5px;
}