@import "./nav.css";

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(224, 230, 255, 0.7), rgba(224, 230, 255, 0.7)), url(images/freepik-export-20240528095312vf0o-contact.png);
    background-position: center;
    background-size: cover;
    position: relative;

}

.information{
    background: linear-gradient(rgba(226, 238, 255, 0.432), rgba(255, 224, 224, 0.404));
}

.text-box{
    width: 90%;
    color: #0f3452;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    margin-top: 100px;
    font-size: 58px;
    color: #641010;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 15px;
    font-weight: 450;
}
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #13344e;
    font-weight: 800;
    border: 1px solid #001935;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #521b0f;
    background: #521b0f;
    color: #ffbfbf;
    transition: 1s;
}


@media(max-width:900px) {
    .text-box h1 {
        font-size: 20px;
    }
}

/* -------- insurances -------- */

.general-insurances{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
a{
    text-decoration: none;
}
p{
    color: #001935;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.insurance-col{
    flex-basis: 31%;
    background: #cbf6ff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.insurance-col:hover{
    box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/* ------ health insurances ------ */

.health-insurances{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px;
}
.health-insurance-col{
    flex-basis: 31%;
    background: #af1d1db0;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.health-insurance-col:hover{
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.582);
}


/* Footer Section */
footer {
    padding-top: 0;
    text-align: center;
}

footer p{
    background-color: #333;
    font-size: 0.7em;
    color: white;
}