.insurance-nav > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /*! width: 100%; */
    /*! padding: 2rem; */
    /*! box-sizing: border-box; */
    gap: 1rem;
    min-height: 250px; /* Set a base height for equal alignment */

}


.left{
    width: 20%;

}

.right {
    width: 10%;
}


.left h3{
    border-bottom: 3px solid #011049;
}


.middle{
    flex-grow: 1;
    max-width: 50%;
    box-sizing: border-box;

}
.container{

    padding: 2rem 0.2em;

}
.insurance-container{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10%;
    margin-bottom: 3em;


    box-sizing: border-box;
    border-width: 2px;
    border-style:outset;
    border-color: #363535;
    border-radius: 2em;
}
#insurance{
    display: block;
    font-size: 20px;
}

#civil-liability, #house, #general-library, #travel, #other, #health{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 3em;

    /*box-sizing: border-box;*/
    /*border-width: 1px;*/
    /*border-style:outset;*/
}

.insurance{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;

    padding: 0.5rem 1rem;
    margin-bottom: 0.5em;

    box-sizing: border-box;
    border-width: 0.2em;
    border-style:solid;
    border-radius: 3em;
}
.insurance a{
    color: #001935;
}
.insurance:hover{
    border: 1px solid;
    background-color:#b464649a;
    color:#0f2e52;
    transition: 0.5s;
}

.sub-container{
        display: none;
        cursor: pointer;
        border-radius: 3em;
    }

@media (max-width: 900px){

    .left h3{
        border-bottom: 3px solid #011049;
        display: flex;
        justify-content: space-between;
        width: 90px;
}

    .insurance-nav{
        display: flex;
        padding: 2% 22% 2% 2%;
        justify-content: space-between;
        align-items: center;

    }

    .sub-container{
        display: none;
        cursor: pointer;
        border-radius: 3em;
    }

    .insurance{
        display: block;
        cursor: pointer;
        border-radius: 3em;
        border: none;
        padding: 0;
        text-align: center;
    }

    .insurance::after{
        content: '';

        height: 2px;
        background: #0f2e52;
        display: block;
        margin: auto;
    }
    .insurance:hover:after{
        width: 0;
    }
    .insurance:hover{
        border-radius: 5%;
        background-color: rgba(194, 205, 255, 0.151);
        transition: 0s;
    }
    .insurance-container{
        padding: 0.5em;
    }

    h2{
        font-size: 15px;
    }
    p{
        font-size: 12px;
    }

    h3{
        font-size: 15px;
        padding-right: 0.8em;
        padding-left: 0;
    }
}
