.partners image{
    width: 100%;
    border-radius: 2em;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.insurance-col{
    flex-basis: 20%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    border: solid 1px #cbf6ff;
}