<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% extends 'common/base.html' %}
    {% load i18n %}
{% load static %}

{% block header %}
            <h1>{% trans 'Add information' %}</h1>
{% endblock %}

{% block content %}
    <section class="wrapper">
            <div class="text-form-container">
                <div class="container">
                    <form action="{% url 'add-info' %}" method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <button type="submit" class="submit-button">{% trans 'Submit' %}</button>
                    </form>
                </div>
            </div>
    </section>
{% endblock %}
</title>
</head>
<body>

</body>
</html>