<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% extends 'common/base.html' %}
{% load static %}

{% block header %}
            <h1>{{ object.pages.name }}</h1>
{% endblock %}

{% block content %}
    <h3>
        Always be the first to know
    </h3>
    
    <section class="wrapper">
            <div class="text-form-container">
                <div class="container">
                    <form action="{% url 'add-info' %}" method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <button type="submit" class="submit-button">Submit</button>
                    </form>
                </div>
            </div>
    </section>
{% endblock %}
</title>
</head>
<body>

</body>
</html>