{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Net Finance</title>
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    {% endblock %}
<body>
    <section class="header">
        {% include 'common/nav.html' %}
        
    <div class="text-box">
    {% block header %}
        <h1>{% trans 'YOUR INSURANCE BROCKER'%}</h1>
      
        
        {% if request.user.is_authenticated %}
            <a href="{% url 'health-home' %}" class="hero-btn">Health Assist</a>
        {% else %}
            <a href="{% url 'login' %}" class="hero-btn">Health Assist</a>
        {% endif %}
        <h4 style="padding: 10px; color: #521b0f;">{% trans 'Your companion app to manage your health insurance with ease  — making it simpler, faster, and more accessible.' %}</h4>
        
        <section style="padding-top: 5em;">
        <h4>{% trans 'At HealthNet Finance AD, we are committed to delivering convenient, reliable, and personalized support for your insurance needs.' %}</h4>
        <h4>{% trans 'Every day, we work to discover new and better ways to assist our clients.' %}</h4>
        </section>
    {% endblock %}
    </div>
    </section>
<main>
    {% block content %}
    {% endblock %}
</main>

    <!-- Footer section -->
<footer>
    
        {% include 'common/footer-nav.html' %}
    
</footer>
    
    
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>