{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Net Finance</title>
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    {% endblock %}
<body>
    <section class="header">
        {% include 'common/nav.html' %}
        
    <div class="text-box">
    {% block header %}
        <h1>{% trans 'YOUR INSURANCE BROCKER'%}</h1>
      
        <p style="margin: 0; padding: 0;">{% trans 'We pried on the quality of service we provide.' %}</p>
        <p style="margin-top: 0; padding-top: 0">{% trans 'Every day we try to find new and better ways to assist our clients.' %}</p>
        {% if request.user.is_authenticated %}
            <a href="{% url 'health-home' %}" class="hero-btn">Health Assist</a>
        {% else %}
            <a href="{% url 'login' %}" class="hero-btn">Health Assist</a>
        {% endif %}
        <h3 style="padding: 10px; color: #521b0f;">{% trans 'Our app for you to manage your health insurance' %}</h3>
    {% endblock %}
    </div>
    </section>
<main>
    {% block content %}
    {% endblock %}
</main>

    <!-- Footer section -->
<footer>
    
        {% include 'common/footer-nav.html' %}
    
</footer>
    
    
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>