{% extends 'common/base.html' %}
{% load static %}
{% load i18n %}
{% block header %}
            <h1>{% trans 'Partners' %}</h1>
{% endblock %}

{% block content %}
    
    <section class="wrapper">
            <div class="text-form-container">
                <div class="container">
                    <form action="{% url 'edit-partner' partner.pk %}" method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <button type="submit" class="submit-button">{% trans 'Submit' %}</button>
                    </form>
                </div>
            </div>
    </section>
{% endblock %}
