{% load static %}
{% load i18n %}
<nav class="footer">
    <div class="left">
        <div class="foot-links" id="navLinks">
            <ul>
                <li><a href="{% url 'https://hnfbg-bkt.s3.eu-north-1.amazonaws.com/GTPR/%D0%BB%D0%B8%D1%87%D0%BD%D0%B8+%D0%B4%D0%B0%D0%BD%D0%BD%D0%B8.pdf' %}" class="foot">{% trans 'GTPR'%}</a></li>
                <li><a href="{% url 'https://hnfbg-bkt.s3.eu-north-1.amazonaws.com/GTPR/%D0%B1%D0%B8%D1%81%D0%BA%D0%B2%D0%B8%D1%82%D0%BA%D0%B81.pdf' %}" class="foot">{% trans 'Cookies' %}</a></li>
                <li><a href="{% url 'https://hnfbg-bkt.s3.eu-north-1.amazonaws.com/GTPR/pravila+jalbi+HNF.pdf' %}" class="foot">{% trans 'SITE POLICY' %}</a></li>
            </ul>
        </div>
    </div>    
    
    <div class="middle">
        <p> © 2024 Diyana Minkova. All rights reserved. </p>
    </div>
    
    <div class="right">
        <div class="foot-links" id="navLinks">
            <ul>
                <li><a href="{% url 'https://hnfbg-bkt.s3.eu-north-1.amazonaws.com/GTPR/pravila+HNF-EUR.pdf' %}" class="foot">{% trans 'EURO' %}</a></li>
                <li><a href="{% url 'contacts' %}" class="foot">{% trans 'Money laundering' %}</a></li>
            </ul>
        </div>
    </div>
</nav>
