{% extends 'common/base.html' %}
{% load static %}
{% load i18n %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/home-page.css' %}">
{% endblock %}


{% block content %}
    
        
{#     #  ATENTION EXPERIMENT ALSO IN THE TEMPLATS DON'T COMMIT!!!!#}
<!--General Insurances -->
<section class="information">
    <section class="general-insurances">
        <section>
            <h1>{% trans 'Where does it come from' %}</h1>
            <p >{% trans 'We pried on the quality of service we  provide.' %}<a style="padding-top:50px;"  href={% url 'about-us' %}>About Us</a></p>
            <p>{% trans 'Every day we try to find new and better ways to assist our clients.' %}</p>
        </section>
       
    </section>
<!-- Health Insurances -->
    <section class="health-insurances">
        <h1>{% trans 'The Insurance We Offer' %}</h1>
        <p>{% trans 'Lorem ipsum dolor sit amet consectetur adipisicing elit.' %}</p>
    
        <div class="row">
            {% for insurance in information %}
                <div class="insurance-col">
                    <h3>{{ insurance.type_insurance|title }}</h3>
                    <p>
                        <a href="{% url 'insurances'%}#{{ insurance.type_insurance }}">{{ insurance.description }}</a>
                    </p>
                </div>
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    </div><div class="row">  {# Closes the row after 3 items and starts a new row #}
                {% endif %}
            {% endfor %}
        </div>
    </section>
</section>
{% endblock %}
