{% load static %}
{% load i18n %}
<nav>
    <a href="{% url 'home' %}"><img src="{% static 'css/images/Health_Net_Finance.jpeg-removebg.png' %}" alt="logo"></a>
    
    <div class="nav-links" id="navLinks">
        {% if request.LANGUAGE_CODE == 'en' %}
        <form action="{% url 'set_language' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <input type="hidden" name="language" value="bg">
            <button type="submit" style="background:none; border:none; padding:0;">
                <img src="{% static 'css/images/flags/Bulgaria.png' %}" alt="BG-Flag" class="flag-image">
            </button>
        </form>
        {% elif request.LANGUAGE_CODE == 'bg' %}
        <form action="{% url 'set_language' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <input type="hidden" name="language" value="en">
            <button type="submit" style="background:none; border:none; padding:0;">
                <img src="{% static 'css/images/flags/United-Kingdom.png' %}" alt="EN-Flag" class="flag-image">
            </button>
        </form>
        {% endif %}
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16" id="close" style="height: 30px">
  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"></path>
  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"></path>
</svg>
        <ul>
            <li><a href="{% url 'home' %}">{% trans 'HOME'%}</a></li>
            <li><a href="{% url 'about-us' %}">{% trans 'ABOUT' %}</a></li>
            <li><a href="{% url 'news' %}">{% trans 'NEWS' %}</a></li>
            <li><a href="{% url 'insurances' %}">{% trans 'INSURANCES' %}</a></li>
            <li><a href="{% url 'partners' %}">{% trans 'PARTNERS' %}</a></li>
            <li><a href="{% url 'questions' %}">{% trans 'Q & A' %}</a></li>
            <li><a href="{% url 'contacts' %}">{% trans 'CONTACTS' %}</a></li>
            {% if user.is_staff %}
                <li class="menu-item">
                    <a href="{% url 'logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit()" class="menu-link">
                        <span>{% trans 'LOGOUT' %}</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    
    </div>
    
    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-list" viewBox="0 0 30 30" id="menue">
  <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"></path>
</svg>

    <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
        {% csrf_token %}
    </form>
</nav>