{% load i18n%}
<ul class="menu">
    <li class="menu-item">
        <a href="{% url 'health-home' %}" class="menu-link">
            <i class="ai-home"></i>
            <span>{% trans 'Home' %}</span>
        </a>
    </li>
    {% if request.user.is_authenticated %}
    <li class="menu-item">
        <a href="{% url 'package' %}" class="menu-link">
            <i class="ai-file"></i>
            <span>{% trans 'Insurance Package' %}</span>
        </a>
    </li>
    <li class="menu-item">
        <a href="{% url 'package' %}" class="menu-link">
            <i class="ai-circle-plus"></i>
            <span>{% trans 'Reimbursement claim' %}</span>
        </a>
    </li>
    {% endif %}
    {% if not request.user.is_authenticated %}
    <li class="menu-item">
        <a href="{% url 'login' %}" class="menu-link">
            <i class="ai-arrow-right-thick"></i>
            <span>{% trans 'Login' %}</span>
        </a>
    </li>
    {% else %}
    <li class="menu-item">
        <a href="{% url 'logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit()" class="menu-link">
            <i class="ai-arrow-left-thick"></i>
            <span>{% trans 'Logout' %}</span>
        </a>
    </li>
    {% endif %}
    {% if request.user.is_authenticated %}
    <li class="menu-item">
        <a href="{% url 'profile'%}" class="menu-link">
            <i class="ai-person"></i>
            <span>{% trans 'Profile' %}</span>
        </a>
    </li>
    {% endif %}
    
    <li class="menu-item">
        <a href="#" class="menu-link">
            <i class="ai-language"></i>
            <span>{% trans 'Change Language' %}</span>
        </a>
    </li>
    
    <li class="menu-item">
        <a href="{% url 'contact' %}" class="menu-link">
            <i class="ai-phone"></i>
            <span>{% trans 'Contacts' %}</span>
        </a>
    </li>
    <li class="menu-item">
        <a href="{% url 'home'%}" class="menu-link">
            <i class="ai-planet"></i>
            <span>HealthNet Finance</span>
        </a>
    </li>
</ul>


<form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
    {% csrf_token %}
</form>