<ul class="menu">
    <li class="menu-item">
        <a href="{% url 'health-home' %}" class="menu-link">
            <i class="ai-home"></i>
            <span>Home</span>
        </a>
    </li>
    {% if request.user.is_authenticated %}
    <li class="menu-item">
        <a href="{% url 'package' %}" class="menu-link">
            <i class="ai-file"></i>
            <span>Insurance Package</span>
        </a>
    </li>
    <li class="menu-item">
        <a href="{% url 'package' %}" class="menu-link">
            <i class="ai-circle-plus"></i>
            <span>Reimbursement claim</span>
        </a>
    </li>
    {% endif %}
    {% if not request.user.is_authenticated %}
    <li class="menu-item">
        <a href="{% url 'login' %}" class="menu-link">
            <i class="ai-arrow-right-thick"></i>
            <span>Login</span>
        </a>
    </li>
    {% else %}
    <li class="menu-item">
        <a href="{% url 'logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit()" class="menu-link">
            <i class="ai-arrow-left-thick"></i>
            <span>Logout</span>
        </a>
    </li>
    {% endif %}
    {% if request.user.is_authenticated %}
    <li class="menu-item">
        <a href="{% url 'profile'%}" class="menu-link">
            <i class="ai-person"></i>
            <span>Profile</span>
        </a>
    </li>
    {% endif %}
    <li class="menu-item">
        <a href="{% url 'contact' %}" class="menu-link">
            <i class="ai-phone"></i>
            <span>Contacts</span>
        </a>
    </li>
    <li class="menu-item">
        <a href="{% url 'home'%}" class="menu-link">
            <i class="ai-planet"></i>
            <span>HealthNet Finance</span>
        </a>
    </li>
    
</ul>


<form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
    {% csrf_token %}
</form>